:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}
.headbar {
  background-image: url('/img/headbar_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: beige;
  text-align: center;
  font-size: 22px;
  padding: 0px;
}
.menulist {
  list-style-type: none;
  margin-left: -30px;
}
.menulist a {
  text-decoration: none;
  color: inherit;
}
.menulist a:hover {
  color: #DF1E5A;
}
.nav-item.dropdownmg {
  position: inherit;
}
.dropdown-menu {
  width: 100%;
  --bs-dropdown-min-width: 14rem;
}
.nav-item a {
  color: #0a0a0a;
}
.navbar-nav a:hover {
  color: #DF1E5A;
}
.nav-item a:hover {
  color: #DF1E5A !important;
}
.nav-item .active {
  color: #DF1E5A !important;
}
.btnbox {
  position: absolute;
  bottom: 120px;
}
.txtred {
  color: #DF1E5A;
}
.body22 {
  font-size: 22px;
}
.pinkboxwraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pinkbox {
  width: 180px;
  height: 140px;
  background-color: #DF1E5A1C;
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
.pinkbox a {
  text-decoration: none;
  color: #171717;
}
.card-header {
  color: #DF1E5A;
  font-size: 24px;
  font-weight: 600;
}
.data {
  font-size: 30px;
  font-weight: 600;
}
.check-bullet {
  list-style-image: url('/img/icons/check2.svg');
}
.curprice {
  color: #DF1E5A;
  font-size: 30px;
  font-weight: 700;
}
.bgred {
  background-color: #DF1E5A;
  color: #ffffff;
}
.footerbox {
  background-color: #ededed;
  color: #171717;
  margin-top: 30px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  font-size: 16px;
}
.footerbox a {
  text-decoration: none;
  color: #171717;
}
.footerboxlarge {
  background-color: #DDDDDD;
  font-size: 18px;
}
.footerboxlarge ul {
  list-style-type: none;
  margin-left: -33px;
  font-size: 16px;
}
.footerboxlarge ul ul {
  list-style-type: disc;
  margin-left: -10px;
}
.footerboxlarge a {
  text-decoration: none;
  color: #171717;
}
.footerboxlarge a:hover {
  color: rgb(1, 77, 23);
}
.bglite {
  background-color: #fff;
}
.icw10 {
  max-height: 110px;
}
/* Mobile view CSS */
@media (max-width: 600px) {
  .headbar {
    font-size: 12px;
  }
  .btnbox {
    bottom: 0px;
  }
  .custom-button {
    padding: 8px 16px;
    font-size: 12px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .pinkbox {
    flex: 40%;
    max-width: 40%;
  }
  .whychoose {
    padding: 10px !important;
  }
  .whychoose .card {
    padding: 8px !important;
    margin-bottom: 10px;
  }
  .icw10 {
    max-height: 60px;
  }
  .body22 {
    font-size: 16px;
  }
  .data, .curprice, .card-header {
    font-size: 20px;
  }
  .tabhead {
    font-size: 14px;
  }
}
